--
-- PostgreSQL database dump
--

\restrict FRVgtLw2pZWcaYXPsN2u5Rrbb2VvJQcn3sZJja23U5VhyeXrkT08aGN2l9jEShq

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: exercises; Type: TABLE; Schema: public; Owner: tu
--

CREATE TABLE public.exercises (
    exercise_id integer NOT NULL,
    name character varying(255) NOT NULL,
    name_en character varying(255),
    slug character varying(255) NOT NULL,
    description text,
    difficulty_level character varying(50),
    exercise_type character varying(50),
    equipment_needed character varying(255),
    primary_video_url character varying(255),
    thumbnail_url character varying(255),
    gif_demo_url character varying(255),
    duration_minutes integer,
    calories_per_rep numeric(4,2),
    popularity_score integer DEFAULT 0 NOT NULL,
    is_public boolean DEFAULT true NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    source_name character varying(150),
    source_url character varying(500),
    is_verified boolean DEFAULT false NOT NULL,
    video_url character varying(500),
    instructions jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT exercises_calories_nonneg_chk CHECK (((calories_per_rep IS NULL) OR (calories_per_rep >= (0)::numeric))),
    CONSTRAINT exercises_difficulty_level_chk CHECK (((difficulty_level IS NULL) OR ((difficulty_level)::text = ANY ((ARRAY['beginner'::character varying, 'intermediate'::character varying, 'advanced'::character varying])::text[])))),
    CONSTRAINT exercises_duration_nonneg_chk CHECK (((duration_minutes IS NULL) OR (duration_minutes >= 0))),
    CONSTRAINT exercises_exercise_type_chk CHECK (((exercise_type IS NULL) OR ((exercise_type)::text = ANY ((ARRAY['compound'::character varying, 'isolation'::character varying, 'cardio'::character varying, 'flexibility'::character varying])::text[]))))
);


ALTER TABLE public.exercises OWNER TO tu;

--
-- Name: COLUMN exercises.video_url; Type: COMMENT; Schema: public; Owner: tu
--

COMMENT ON COLUMN public.exercises.video_url IS 'Link video MP4/M3U8 ─æ╞░ß╗úc host tr├¬n Cloud (AWS/Cloudinary)';


--
-- Name: exercises_exercise_id_seq; Type: SEQUENCE; Schema: public; Owner: tu
--

CREATE SEQUENCE public.exercises_exercise_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exercises_exercise_id_seq OWNER TO tu;

--
-- Name: exercises_exercise_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tu
--

ALTER SEQUENCE public.exercises_exercise_id_seq OWNED BY public.exercises.exercise_id;


--
-- Name: exercises exercise_id; Type: DEFAULT; Schema: public; Owner: tu
--

ALTER TABLE ONLY public.exercises ALTER COLUMN exercise_id SET DEFAULT nextval('public.exercises_exercise_id_seq'::regclass);


--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: tu
--



--
-- Name: exercises_exercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tu
--

SELECT pg_catalog.setval('public.exercises_exercise_id_seq', 567, true);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: tu
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (exercise_id);


--
-- Name: exercises exercises_slug_key; Type: CONSTRAINT; Schema: public; Owner: tu
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_slug_key UNIQUE (slug);


--
-- Name: exercises_difficulty_level_idx; Type: INDEX; Schema: public; Owner: tu
--

CREATE INDEX exercises_difficulty_level_idx ON public.exercises USING btree (difficulty_level);


--
-- Name: exercises_exercise_type_idx; Type: INDEX; Schema: public; Owner: tu
--

CREATE INDEX exercises_exercise_type_idx ON public.exercises USING btree (exercise_type);


--
-- Name: exercises_popularity_score_idx; Type: INDEX; Schema: public; Owner: tu
--

CREATE INDEX exercises_popularity_score_idx ON public.exercises USING btree (popularity_score);


--
-- PostgreSQL database dump complete
--

\unrestrict FRVgtLw2pZWcaYXPsN2u5Rrbb2VvJQcn3sZJja23U5VhyeXrkT08aGN2l9jEShq

